<!DOCTYPE html>
<html>
  <head>
    <title>FindGame1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Fascinate" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>

  <body>
    <% if ["public_pages", "devise", "sessions", "registrations"].include?(controller.controller_name) %>
      <%= render 'partial/navbar' %>
      <%= render 'partial/error_messages' %>
      <%= yield %>
    <% else %>
      <%= render 'partial/navbar1' %>
      <%= render 'partial/error_messages' %>

      <div class="container-fluid">
        <div class="row">
          <%= render "partial/sidebar" %>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
            <%= yield %>
          </main>
        </div>
      </div>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
